// Specific CSS for your home-page
body{
  background-color: #f9f7f4;
}

.bg-light{
  border-radius: 10px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.col-sm-12 h1 {

}

.input-group ::placeholder {
  text-align: center;
}


