

#login-form {
  h3 {
    color: lightcoral;
    font-size: 30px;
    text-align: center;
  }
  width: 450px;
  padding: 30px  ;
  margin-top: 50px;
  margin: center;
  border-style: solid;
  border-color: rgb(42, 47, 49);
  border-width: 0.2px;
  border-radius: 10px;
  border-left-width: 3px;
  border-right-width: 5px;
}

.form-inputs .form-actions {
  width: 250px;
  color: goldenrod;
  border-radius: 10px;
}






// h2 {
//   text-align: center;
//   margin-top: 50px;
//   padding-top: 20px;
//   background-color: lightcoral;
// }
// .form {
//   width: 450px;
//   padding: 50px  ;
//   margin-top: 5px;
//   margin: center;
//   border-style: solid;
//   border-color: rgb(42, 47, 49);
//   border-width: 0.2px;
//   border-radius: 10px;
//   border-left-width: 5px;
//   border-right-width: 5px;
//   // padding: ;
//   // box-shadow: rgb(228, 228, 14);
// }

// h3 {
//   text-align: center;
// }

// .form-inputs input {
//   background-color: hotpink;
// }
