#login-form {
  h3 {
    color: orange;
    font-size: 25px;
    text-align: center;
  }
  width: 450px;
  padding: 30px  ;
  margin-top: 50px;
  margin: center;
  border-style: solid;
  border-color: rgb(87, 89, 90);
  border-width: 0.1px;
  border-radius: 10px;
  border-left-width: 0.1px;
  border-right-width: 0.3px;
}

.form-inputs .form-actions {
  width: 250px;
  border-radius: 10px;
}

.login-link a {
    font-size: 15px;
    color: rgb(0, 0, 0);
    &:hover {
      color: orange;
      transition-delay: 50ms;
    }
  }

.footer-links {
  #github-logo {
      color: rgb(73, 73, 73);
      &:hover {
        color: black;
      }
  }
  #insta-logo {
      color: rgb(168, 73, 125);
      &:hover {
        color: rgb(163, 8, 93);
      }
  }
  #facebook-logo {
      color: rgb(63, 123, 212);
      &:hover {
        color: rgb(15, 101, 230);
      }
  }
  #twitter-logo {
      color: rgb(63, 166, 235);
      &:hover {
        color: rgb(0, 153, 255);
      }
  }
}
