<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/FKqxZ58bVjU/1600x900);">
  <div class="container">
  <div class="row">
    <div class="col-sm-12">
    <h1><strong>RENT UNLIMITED BOOKS OF ALL GENRES</strong></h1>
      <p>Renting books saves you time, money, shelf space, and the environment!</p>
      </div>
      </div>
      <%= form_tag books_path, method: :get do %>   <%# SEARCH BAR HOME PAGE %>
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
            <%= text_field_tag :query, params[:query], class: "form-control border-0 bg-light", placeholder: "search for your favourite title"%>
            <div class="input-group-append">
            <%= submit_tag "Search Catalog", class: "btn btn-link text-warning" %>
    <% end %>
            </div>
            </div>
       </div>
    </div>
</div>


