<p><%= link_to "Add book", new_book_path %></p>

<p><%= link_to "All orders", orders_path %></p>


<% @books.each do |book| %>
  <h1><%= book.title %></h1>


  <%= link_to "Learn more", book_path(book) %>
<% end %>

