
<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-12 col-md-6 col-lg-4 card px-2 py-2 mb-3" style="width: 100%">
          <%book.photos.each do |photo|  %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
        <% end %>

        <div class="card-body">
          <p><%= book.reviews.blank? ? 0 : "⭐️" * book.reviews.average(:rating).round(2) %></p>
          <h3><%=link_to book.title.upcase, book_path(book) %></h3>
          <p class="card-text"><%= book.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- Book.last.reviews.average(:rating).round(2) -->
