


.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-actions {
  background-color: #ffffff;
  border-radius: 50px;
  border-style: solid, 10px;
  box-shadow: grey;
  text-align: center;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.btns{
background-color: #FCA311;
  border-radius: 20px;
  margin-top: 4px;
  width: 300px;
  padding: 10px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
}



// a {
//   color: #91091e;
//   &:hover {
//     color: #da723c;
//     text-decoration: none;
//   }
// }

a {
  color: #14213D;
  font-weight: 700;
  &:hover {
    color: #91091e;
  }
}
