.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}


// .card-body{
//   // border-style: solid;
//   // border-radius: 3px;
//   // border-color: red;
// }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


#newcard{
  background-color: white;
  border-radius: 3px;
  border: solid 0.05px;
  border-color: rgba(0, 0, 0, .1);
  padding: 15px;
}


#newcard_order{
  background-color: white;
  border-radius: 3px;
  border: solid 0.05px;
  border-color: rgba(0, 0, 0, .1);
  padding: 40px;
  margin-bottom: 20px;
}