.navbar-lewagon {
  justify-content: space-between;
  background:#e8e8e8;
}

// .navbar-lewagon li{
//   display: inline-block;
//   align-items: center;
// }


.navbar-expand-sm .navbar-nav .nav-link{
  margin-top: 12px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 300px;
}


.nav-item a{
  font-weight:700;
  background:#FC5A36; 
}


#navbarDropdown{
  margin: 10px;
}


.nav-item a:hover{
  background: white; 
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}


.navbar-toggler-icon{
  background-color:#FC5A36;
  border-radius: 4px;
}

.navbar-light .navbar-toggler{
  border-color:#e8e8e8;
}


.nav-link a{
background-color:green;
}