.footer-links a {
  color: #FCA311;
}
.navbar-lewagon {
  justify-content: space-between;
  background:#f4e4cb;
  border-bottom:1px solid rgba(109, 109, 109, 0.1);
  border-bottom-style:inset;
}

// .navbar-lewagon li{
//   display: inline-block;
//   align-items: center;
// }

.navbar-expand-sm .navbar-nav .nav-link{
  margin-top: 12px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}


.nav-item a{
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: #14213D;
  overflow: hidden;
  background: linear-gradient(to right, #FCA311, #FCA311 50%, #14213D 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  border-bottom: solid 3px;
  margin: 5px;

}
.nav-item a:hover{
  transition: all .4s ease;
  background-position: 0 100%;
  -webkit-transition: all .4s ease;
}

#navbarDropdown{
  margin: 10px;
}

.navbar-toggler-icon{
  background-color:#FCA311;
  border-radius: 4px;
}

.navbar-light .navbar-toggler {
  border-color:#E5E5E5;
}

